/**全局样式文件*/
@import url('./thame.less');

// 按钮
.ant-btn{
    &+.ant-btn{
        margin-left: 0.5rem;
    }
    &.ant-btn-primary{
        &[disabled]{
            color: @text-light-color;
            border-color: @color-primary;
            opacity: 0.8;
        }
        &:not(.ant-btn-background-ghost){
            background-color: @color-primary;
            &.ant-btn-dangerous{
                background-color: @color-dangerous;
            }
        }
        &.ant-btn-background-ghost{
            border-color: @color-primary;
            color: @color-primary;
            &:not([disabled]):hover{
                background-color: @color-primary;
                border-color: @color-primary;
                color: @text-light-color
            }
            &.ant-btn-dangerous{
                border-color: @color-dangerous;
                color: @color-dangerous;
                &:not([disabled]):hover{
                    background-color: @color-dangerous;
                    color: @text-light-color
                }
            }
        }
    }
}

// 卡片
.ant-card{
    margin-top: 1rem;
    background-color: @bg-blank-light;
    .ant-card-head{
        border-bottom-color: transparent;
        .ant-card-head-title{
            color: @text-light-color;
        }
    }
    &.ant-card-small{
        .ant-card-head-wrapper{
            padding-top: 1rem;
            padding-bottom: 0.3rem;
        }
        .ant-card-head-title{
            font-size: 1.3rem;
        }
    }
}

// 加载
.ant-spin {
    .ant-spin-dot-item{
        background-color: @text-label-color;
    }
}

// 空数据
.ant-empty{
    .ant-empty-image{
        opacity: 0.6;
    }
    .ant-empty-description{
        color: @text-label-color;
        opacity: 0.5;
    }
}

// 表格
.ant-table-wrapper {
    background-color: transparent;
    .ant-table{
        background-color: transparent;
    }
    .ant-table-content{
        background-color: @bg-blank-light !important;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .ant-table-thead {
        .ant-table-cell {
            background-color: @bg-blank !important;
        }
        &>tr>th{
            border-bottom-color: @bg-blank !important;
            color: @text-label-color;
            &:not(:last-child)::before{
                background-color: transparent !important;
            }
        }
    }
    .ant-table-tbody{
        .ant-table-cell {
            background-color: inherit !important;
        }
        tr>td{
            border-top-color: @border-color !important;
            color: @text-light-color;
        }
        & >tr:last-child>td{
            border-bottom-color: @bg-blank !important;
        }
    }
    .ant-pagination{
        background-color: @bg-blank-light;
        margin: 0 !important;
        padding: 16px 0;
    }

    .ant-spin-blur{
        .ant-table-content{
            min-height: 100px;
        }
    }
}

//分页条
.ant-pagination {
    .ant-pagination-item-link {
        color: @text-light-color !important;
        &[disabled] {
            opacity: 0.3;
        }
    }

    .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
    .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis,
    .ant-pagination-jump-prev .ant-pagination-item-container .anticon,
    .ant-pagination-jump-next .ant-pagination-item-container .anticon,
    .ant-pagination-item a {
        color: @text-light-color;
    }

    .ant-pagination-item-active {
        background-color: @text-light-color;

        &,
        &:hover {
            border-color: @color-primary;
        }

        &:hover a,
        a {
            color: @text-blank-color;
        }
    }

}

// 通知栏
.ant-notification-notice {
    background-color: @bg-blank-lighter;
    color: @text-light-color;
    padding: 0 1rem 0.5rem;
    display: flex;
    border-radius: 2rem;
    width: auto;
    padding-right: 2.5rem;

    .ant-notification-notice-close {
        top: 0.5rem;
        inset-inline-end: 8px;
    }

    .ant-notification-close-x {
        color: @text-label-color;
    }
}

// 进度条
.ant-progress {
    margin-bottom: 0;

    .ant-progress-inner {
        background-color: rgba(255, 255, 255, .6);
    }

    .ant-progress-bg {
        background-color: #5c7ee5;
        background-size: 1rem 1rem;
        background-image: linear-gradient(45deg,
                rgba(255, 255, 255, 0.15) 25%,
                transparent 25%, transparent 50%,
                rgba(255, 255, 255, 0.15) 50%,
                rgba(255, 255, 255, 0.15) 75%,
                transparent 75%,
                transparent);
    }

    &.ant-progress-status-success {
        .ant-progress-bg {
            background-color: #0aac61;
        }
    }
}

// 弹窗
.ant-image-preview-mask,
.ant-modal-mask {
    backdrop-filter: blur(4px);
}
.ant-modal{
    .ant-form:first-child{
        margin-top: 1.5rem;
    }
}
/*
.ant-modal{
    .ant-modal-header,
    .ant-modal-content{
        background-color: @bg-blank-light;
    }
    .ant-modal-title{
        color: @text-light-color
    }
}


.ant-form{
    .ant-form-item,
    .ant-form-item .ant-form-item-label >label{
        color: @text-light-color
    }
}
.ant-input-number-input,
.ant-input{
    background-color: @bg-blank !important;
    border-color: @border-color !important;
    color: @text-light-color !important;
    &::placeholder{ 
        color: @text-label-color !important;
        opacity: 0.3; 
    }
}
.ant-input-number{
    border-color: @border-color !important;
    background-color: @bg-blank !important;
}
.ant-upload{
    color: @text-light-color !important;
}
*/